*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
static/bootstrap/js/google-code-prettify/prettify.css
static/bootstrap/js/google-code-prettify/prettify.js
static/bootstrap/js/holder/holder.js
static/bootstrap/js/html5shiv.js
static/bootstrap/js/jquery.js
static/bootstrap/js/bootstrap-tooltip.js
static/bootstrap/js/bootstrap-transition.js
static/bootstrap/js/bootstrap-typeahead.js
static/bootstrap/js/bootstrap.js
static/bootstrap/js/bootstrap.min.js
static/bootstrap/.travis.yml
static/bootstrap/css/bootstrap-responsive.css
static/bootstrap/css/bootstrap.css
static/bootstrap/img/bs-docs-masthead-pattern.png
static/bootstrap/img/glyphicons-halflings-white.png
static/bootstrap/img/glyphicons-halflings.png
static/bootstrap/img/grid-baseline-20px.png
static/bootstrap/js/README.md
static/bootstrap/js/application.js
static/bootstrap/js/bootstrap-affix.js
static/bootstrap/js/bootstrap-alert.js
static/bootstrap/js/bootstrap-button.js
static/bootstrap/js/bootstrap-carousel.js
static/bootstrap/js/bootstrap-collapse.js
static/bootstrap/js/bootstrap-dropdown.js
static/bootstrap/js/bootstrap-modal.js
static/bootstrap/js/bootstrap-popover.js
static/bootstrap/js/bootstrap-scrollspy.js
static/bootstrap/js/bootstrap-tab.js
tmp