<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>炉石助手数据库管理工具</title>
	<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">

	<script src="http://cdn.staticfile.org/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<style type="text/css">
	.fqclass{
		margin-top: -40px;
	}
	</style>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<!-- normal menu -->
		<div class="span2 hidden-phone">
			<ul class="nav nav-list">
			    <li class="nav-header">炉石传说数据库</li>
				<li><a href="/mgr">查看所有</a></li>
				<li><a href="/mgr/hero">英雄</a></li>
				<li><a href="/mgr/hskill">英雄技能</a></li>
				<li><a href="/mgr/weapon">武器</a></li>
				<li><a href="/mgr/skill">技能</a></li>
				<li><a href="/mgr/ally">随从</a></li>
			</ul>
		</div>
  		<div class="span10">
  			<!-- phone menu -->
  			<div class="navbar visible-phone">
			  <div class="navbar-inner">
			    <div class="container">
			 
			      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </a>
			 
			      <!-- Be sure to leave the brand out there if you want it shown -->
			      <a class="brand" href="#">炉石传说数据库</a>
			 
			      <!-- Everything you want hidden at 940px or less, place within here -->
			      <div class="nav-collapse collapse">
			        <ul class="nav nav-list">
				        <li><a href="/mgr">查看所有</a></li>
                        <li><a href="/mgr/hero">英雄</a></li>
                        <li><a href="/mgr/hskill">英雄技能</a></li>
                        <li><a href="/mgr/weapon">武器</a></li>
                        <li><a href="/mgr/skill">技能</a></li>
                        <li><a href="/mgr/ally">随从</a></li>
					</ul>
			      </div>
			    </div>
			  </div>
			</div>
			<table class="table table-striped">
				<tr>
                    <th>图片</th>
					<th>名称</th>
					<th>类型</th>
					<th>职业</th>
					<th>稀有度</th>
					<th>牌组</th>
                    <th>三围</th>
					<th>操作</th>
				</tr>
				{% for card in cards %}
				<tr>
                    <td><img src="{{ card.card_img}}" style="widht:80px;height:100px;"/></td>
					<td><a href="#" class="cardmodal" id="{{card.id}}">{{ card.card_name }}</a></td>
					<td>{{ card.card_type }}</td>
					<td>{{ card.card_class }}</td>
					<td>{{ card.card_rarity }}</td>
					<td>{{ card.card_set }}</td>
                    <td>{{ card.card_cost}}:{{card.card_att}}:{{card.card_hp}}</td>
					<td><a href="/mgr/edit/{{card.id}}" class="editmodal" >修改</a></td>
				</tr>
				{% endfor %}
			</table>
			<div class="pagination">
			  <ul>
			    <li><a href="/mgr/{{route}}/{{ page-1 }}">Prev</a></li>
			    {% for i in range(allPage) %}
			    <li><a href="/mgr/{{route}}/{{i+1}}">{{i+1}}</a></li>
			    {% endfor %}
			    <li><a href="/mgr/{{route}}/{{ page+1 }}">Next</a></li>
			  </ul>
			</div>
  		</div>
	</div>
</div>
<!-- loading dialog -->
<div id="loading" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loadingLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="loadingLabel">Loading...</h3>
  </div>
  <div class="modal-body">
    <p>loading...please wait...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
<!-- loading dialog end -->
<!-- ship dialog -->
<div id="cardModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="cardLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="cardLabel">cardLabel</h3>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="span3"><img src="#" class="img-polaroid" id="cardImg" /></div>
        <div class="span2">
            <dl>
              <dt>名称</dt>
              <dd id="cardName">name  desc</dd>
              <dt>类型</dt>
              <dd id="cardType">group name  desc</dd>
              <dt>稀有度</dt>
              <dd id="cardRarity">race  desc</dd>
              <dt>卡组</dt>
              <dd id="cardSet">race  desc</dd>
              <dt>职业</dt>
              <dd id="cardClass">race  desc</dd>
              <dt>种族</dt>
              <dd id="cardRace">race  desc</dd>
              <dt>技能</dt>
              <dd id="cardDesc">race  desc</dd>
              <dt>描述</dt>
              <dd id="cardRemark">race  desc</dd>
            </dl>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
<!-- ship dialog end -->
<script type="text/javascript">
$(function(){
	$(".cardmodal").click(function(){
	    $("#loading").modal();
		var $this = $(this);
		$.ajax({
			url:'/card/' + $this.attr("id"),
			dataType:'json',
			type:'GET',
			success:function(resp){
				console.log(resp.card_remark);
				$("#cardLabel").empty().append(resp.card_name);
				$("#cardName").empty().append(resp.card_name);
				$("#cardImg").attr("src", resp.card_img);
				$("#cardType").empty().append(resp.card_type);
				$("#cardRarity").empty().append(resp.card_rarity);
				$("#cardSet").empty().append(resp.card_set);
				$("#cardClass").empty().append(resp.card_class);
				$("#cardRace").empty().append(resp.card_race);
				$("#cardDesc").empty().append(resp.card_desc)
				$("#cardRemark").empty().append(resp.card_remark);
                $("#cardModal").modal();
                $("#loading").modal("hide");
			}
		});
	});
});
</script>
</body>
</html>