<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>炉石助手数据库管理工具 -- {{ card.card_name}}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}">

	<script src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
	<script src="{{ url_for('static', filename='common.js') }}"></script>
	<style type="text/css">
	.fqclass{
		margin-top: -40px;
	}
	</style>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<!-- normal menu -->
		<div class="span2 hidden-phone">
			<ul class="nav nav-list">
			    <li class="nav-header">炉石传说数据库</li>
				<li><a href="/">查看所有</a></li>
				<li><a href="/hero">英雄</a></li>
				<li><a href="/hskill">英雄技能</a></li>
				<li><a href="/weapon">武器</a></li>
				<li><a href="/skill">技能</a></li>
				<li><a href="/ally">随从</a></li>
			</ul>
		</div>
  		<div class="span10">
  			<!-- phone menu -->
  			<div class="navbar visible-phone">
			  <div class="navbar-inner">
			    <div class="container">
			 
			      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </a>
			 
			      <!-- Be sure to leave the brand out there if you want it shown -->
			      <a class="brand" href="#">炉石传说数据库</a>
			 
			      <!-- Everything you want hidden at 940px or less, place within here -->
			      <div class="nav-collapse collapse">
			        <ul class="nav nav-list">
				        <li><a href="/">查看所有</a></li>
						<li><a href="/hero">英雄</a></li>
						<li><a href="/hskill">英雄技能</a></li>
						<li><a href="/weapon">武器</a></li>
						<li><a href="/skill">技能</a></li>
						<li><a href="/ally">随从</a></li>
					</ul>
			      </div>
			    </div>
			  </div>
			</div>
			<table class="table table-striped">
				<tr>
					<th>名称</th>
					<th>类型</th>
					<th>职业</th>
					<th>稀有度</th>
					<th>牌组</th>
				</tr>
				{% for card in cards %}
				<tr>
					<td>{{ card.card_name }}</td>
					<td>{{ card.card_type }}</td>
					<td>{{ card.card_class }}</td>
					<td>{{ card.card_rarity }}</td>
					<td>{{ card.card_set }}</td>
				</tr>
				{% endfor %}
			</table>
			<div class="pagination">
			  <ul>
			    <li><a href="/{{route}}/{{ page-1 }}">Prev</a></li>
			    {% for i in range(allPage) %}
			    <li><a href="/{{route}}/{{i+1}}">{{i+1}}</a></li>
			    {% endfor %}
			    <li><a href="/{{route}}/{{ page+1 }}">Next</a></li>
			  </ul>
			</div>
  		</div>
	</div>
</div>
</body>
</html>