<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>炉石助手</title>
	<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">

	<script src="http://cdn.staticfile.org/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<style type="text/css">
	.fqclass{
		margin-top: -40px;
	}
	</style>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<!-- normal menu -->
		<div class="span2 hidden-phone">
			<ul class="nav nav-list">
			    <li class="nav-header">炉石助手</li>
                <li><a href="/">首页</a></li>
				<li class="nav-header">卡牌构筑</li>
                <li><a href="/set/圣骑士">圣骑士</a></li>
                <li><a href="/set/德鲁伊">德鲁伊</a></li>
                <li><a href="/set/战士">战士</a></li>
                <li><a href="/set/术士">术士</a></li>
                <li><a href="/set/法师">法师</a></li>
                <li><a href="/set/潜行者">潜行者</a></li>
                <li><a href="/set/牧师">牧师</a></li>
                <li><a href="/set/猎人">猎人</a></li>
                <li><a href="/set/萨满">萨满</a></li>
                <li class="nav-header">数据库</li>
                <li><a href="/db">查看所有</a></li>
                <li><a href="/db/hero">英雄</a></li>
                <li><a href="/db/hskill">英雄技能</a></li>
                <li><a href="/db/weapon">武器</a></li>
                <li><a href="/db/skill">技能</a></li>
                <li><a href="/db/ally">随从</a></li>
			</ul>
		</div>
  		<div class="span10">
  			<!-- phone menu -->
  			<div class="navbar visible-phone">
			  <div class="navbar-inner">
			    <div class="container">
			 
			      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </a>
			 
			      <!-- Be sure to leave the brand out there if you want it shown -->
			      <a class="brand" href="#">炉石传说数据库</a>
			 
			      <!-- Everything you want hidden at 940px or less, place within here -->
			      <div class="nav-collapse collapse">
			        <ul class="nav nav-list">
                        <li><a href="/">首页</a></li>
				        <li class="nav-header">卡牌构筑</li>
                        <li><a href="/set/圣骑士">圣骑士</a></li>
                        <li><a href="/set/德鲁伊">德鲁伊</a></li>
                        <li><a href="/set/战士">战士</a></li>
                        <li><a href="/set/术士">术士</a></li>
                        <li><a href="/set/法师">法师</a></li>
                        <li><a href="/set/潜行者">潜行者</a></li>
                        <li><a href="/set/牧师">牧师</a></li>
                        <li><a href="/set/猎人">猎人</a></li>
                        <li><a href="/set/萨满">萨满</a></li>
                        <li class="nav-header">数据库</li>
                        <li><a href="/db">查看所有</a></li>
                        <li><a href="/db/hero">英雄</a></li>
                        <li><a href="/db/hskill">英雄技能</a></li>
                        <li><a href="/db/weapon">武器</a></li>
                        <li><a href="/db/skill">技能</a></li>
                        <li><a href="/db/ally">随从</a></li>
					</ul>
			      </div>
			    </div>
			  </div>
			</div>
			<p class="lead">
                欢迎使用炉石助手，贴入链接或手动配卡
			</p>
            <div class="input-append">
              <input id="setinput" class="input-xxlarge" type="text" placeholder="输入完整配卡链接">
              <a href="#" id="setbtn" class="btn btn-primary" >查看</a>
            </div>
  		</div>
	</div>
</div>
<script>
    $(function(){
        $("#setbtn").click(function(){
            var url = $("#setinput").val();
            var host = location.href;
            if(host.indexOf("#")==host.length-1){
                host = host.substring(0, host.length-1);
            }
            console.log(host);
            if(url.indexOf(host) == 0){
                location.href = url;
            }
        });
    });
</script>
</body>
</html>