{% extends "layout.html" %}
{% block title %}蕃茄时间{% endblock %}
{% block normal_nav %}
{% endblock %}
{% block phone_nav %}
{% endblock %}
{% block content %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{url_for('login')}}" method="POST" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="username">Username</label>
    <div class="controls">
      <input type="text" id="username" placeholder="username" name="username">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" name="passwd">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">Sign in</button>
    </div>
  </div>
</form>
{% endblock %}