<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>炉石助手</title>
	<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">

	<script src="http://cdn.staticfile.org/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<style type="text/css">
	.fqclass{
		margin-top: -40px;
	}
	</style>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<!-- normal menu -->
		<div class="span2 hidden-phone">
			<ul class="nav nav-list">
			    <li class="nav-header">炉石助手</li>
                <li><a href="/">首页</a></li>
				<li><a href="/set">配卡</a></li>
				<li><a href="/db">数据库</a></li>
			</ul>
		</div>
  		<div class="span10">
  			<!-- phone menu -->
  			<div class="navbar visible-phone">
			  <div class="navbar-inner">
			    <div class="container">

			      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </a>

			      <!-- Be sure to leave the brand out there if you want it shown -->
			      <a class="brand" href="#">炉石传说数据库</a>

			      <!-- Everything you want hidden at 940px or less, place within here -->
			      <div class="nav-collapse collapse">
			        <ul class="nav nav-list">
                        <li><a href="/">首页</a></li>
				        <li><a href="/set">配卡</a></li>
				        <li><a href="/db">数据库</a></li>
					</ul>
			      </div>
			    </div>
			  </div>
			</div>
          {% for hero in heros %}
            <a href="/setstart/{{hero.id}}" class="span3">
              <img src="{{hero.card_engimg}}" alt="{{ hero.card_name }}" width="230" title="{{ hero.card_name }}">
            </a>
          {% endfor %}
  		</div>
	</div>
</div>
</body>
</html>