<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!--
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
	<script src="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}"></script>
-->
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.css">
  
	<script src="../static/jquery-1.9.1.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap.js"></script>
	<style type="text/css">
	.fqclass{
		margin-top: -40px;
	}
	</style>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<!-- normal menu -->
		<div class="span2 hidden-phone">
			<ul class="nav nav-list">
			  <li class="nav-header">蕃茄时间</li>
			  <li class="active"><a href="#">任务</a></li>
			  <li><a href="#">任务设置</a></li>
			  <li class="nav-header">个人</li>
			  <li><a href="#">个人设置</a></li>
			  <li><a href="#">时间统计</a></li>
			  <li class="divider"></li>
			  <li><a href="#">退出</a></li>
			</ul>
		</div>
  		<div class="span10">
  			<!-- phone menu -->
  			<div class="navbar visible-phone">
			  <div class="navbar-inner">
			    <div class="container">
			 
			      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </a>
			 
			      <!-- Be sure to leave the brand out there if you want it shown -->
			      <a class="brand" href="#">蕃茄时间</a>
			 
			      <!-- Everything you want hidden at 940px or less, place within here -->
			      <div class="nav-collapse collapse">
			        <ul class="nav nav-list">
				  <li class="active"><a href="#">任务</a></li>
				  <li><a href="#">任务设置</a></li>
				  <li><a href="#">个人设置</a></li>
				  <li><a href="#">时间统计</a></li>
				  <li class="divider"></li>
				  <li><a href="#">退出</a></li>
				</ul>
			      </div>
			    </div>
			  </div>
			</div>
  			<input style="margin-top:5px;" class="input-block-level" type="text" placeholder="添加任务...">
  			<ul class="unstyled">
  				<li>
  					<div class="progress" style="height:25px;">
  						<div class="bar bar-success" style="width:100%">
  							<span style="font-size:20px;">renwu 1</span>
  							<a class="pull-right icon_a" id="ok" href="#timediv" data-toggle="modal" title="标记完成" style="margin-top:3px;margin-right:5px;">
  								<i class="icon-ok"></i>
  							</a>
  							<a class="pull-right icon_a" id="star" href="#timediv" data-toggle="modal" title="标记重点" style="margin-top:3px;margin-right:5px;">
  								<i class="icon-star icon-white"></i>
  							</a>
  						</div>
  					</div>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/bad.png" class="fqclass"/>
  					<img src="../static/img/green.png" class="fqclass"/>
  				</li>
  				<li>
  					<div class="progress" style="height:25px;">
  						<div class="bar" style="width:100%">
  							<span style="font-size:20px;">renwu 1</span>
  							<a class="pull-right icon_a" id="ok" href="#timediv" data-toggle="modal" title="标记完成" style="margin-top:3px;margin-right:5px;">
  								<i class="icon-ok icon-white"></i>
  							</a>
  							<a class="pull-right icon_a" id="time" href="#timediv" data-toggle="modal" title="开始工作" style="margin-top:3px;margin-right:5px;">
  								<i class="icon-time icon-white"></i>
  							</a>
  							<a class="pull-right icon_a" id="star" href="#timediv" data-toggle="modal" title="标记重点" style="margin-top:3px;margin-right:5px;">
  								<i class="icon-star icon-white"></i>
  							</a>
  						</div>
  					</div>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/bad.png" class="fqclass"/>
  					<img src="../static/img/green.png" class="fqclass"/>
  				</li>
  				<li>
  					<div class="progress" style="height:25px;">
  						<div class="bar bar-warning" style="width:100%">
  							<span style="font-size:20px;">renwu 1</span>
  							<a class="pull-right icon_a" id="ok" href="#timediv" data-toggle="modal" title="标记完成" style="margin-top:3px;margin-right:5px;">
  								<i class="icon-ok icon-white"></i>
  							</a>
  							<a class="pull-right icon_a" id="time" href="#timediv" data-toggle="modal" title="开始工作" style="margin-top:3px;margin-right:5px;">
  								<i class="icon-time icon-white"></i>
  							</a>
  							<a class="pull-right icon_a" id="star" href="#timediv" data-toggle="modal" title="标记重点" style="margin-top:3px;margin-right:5px;">
  								<i class="icon-star"></i>
  							</a>
  						</div>
  					</div>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/good.png" class="fqclass"/>
  					<img src="../static/img/bad.png" class="fqclass"/>
  					<img src="../static/img/green.png" class="fqclass"/>
  				</li>
  			</ul>
  		</div>
	</div>
</div>
<div id="timediv" style="width:250px;" class="modal hide fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-body">
  	<img id="timeimg" src="../static/img/green.png" style="width:48px;height:48px;" />
    <h1 class="text-info">25:00</h1>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" id="timebtn" data-dismiss="modal">打断</button>
  </div>
</div>
<script type="text/javascript">
var st;
$(function(){
	$("#timediv").on("shown", function(){
		var $time = $("#timediv").find(".text-info");
		$time.empty().append("00:05");

		st = setInterval(startTime,1000);
	});

	$("#timediv").on("hidden", function(){
		clearTimeout(st);
	})

	$(".icon_a").tooltip();
});

function startTime(){
	var $time = $("#timediv").find(".text-info");
	var curr = $time.html().split(":");
	var min = parseInt(curr[0]);
	var sec = parseInt(curr[1]);
	if(min == 0 && sec == 0){
		stopTime();
		return ;
	}else{
		if(sec == 0){
			sec = 59;
			min--;
		}else{
			sec--;
		}
	}
	if(sec<10){
		sec = "0" + sec;
	}
	if(min<10){
		min = "0" + min;
	}
	$time.empty().append(min + ":" + sec);
}

function stopTime(){
	var $time = $("#timediv").find(".text-info");
	$time.empty().append("时间运行完毕");
	$(".btn-danger").removeClass("btn-danger").addClass("btn-success").text("完成");
	clearTimeout(st);
}
</script>
</body>
</html>